<div id="simple" class="jumbotron" style="height: 500px;">
    <div class="col-md-12"><h3>Chicken</h3></div>
    <div class="col-md-12">
        <div class="col-md-2">
            <h1>ไก่</h1>
        </div>
        <div class="col-md-2">
            <img src="chicken.jpg" width="100" height="100" id="picture">
        </div>
        <div class="col-md-2">
            <canvas id="display" style="width: 200px; height: 200px;">

            </canvas>
        </div>
        <div class=col-md-2>
            <audio controls>
                <source src="gai.ogg" type="audio/ogg">
                <!--<source src="horse.mp3" type="audio/mpeg">-->
                Your browser does not support the audio element.
            </audio>
            <img src="open_waveform.png" width="100" height="100" id="picture">
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="col-md-4"><h3>Scientific -> Animal</h3></div>
    <div class="col-md-4"><h3>Concept -> Animal</h3></div>
    <div class="col-md-4"><h3>Social Feeling Type: Self Reflection (Fearing)</h3></div>
    <div class="col-md-4"><h3>Usage 12 Documents, FDR 1996-12-01 </h3></div>
</div>