<div class="well col-md-12">
    <div class="col-md-10">
        <canvas id="myCanvas" width="2000" height="1400">
        </canvas>
    </div>
    <div class="col-md-2">
        <h3 ng-init="runwatch()">{{timeofday}}</h3>

        <input type="text" ng-change="$scope.travelintime()" datetime-picker ng-model="timewatch" date-format="yyyy-MM-dd HH:mm:ss" />
        <button ng-click="travelintime()" type="button">Navigate</button>
        <div>{{timewatch}}</div>
        <div>Rashi: <span>{{ grahaCharaya.rashi }}</span></div>
        <div>Change in: <span>{{ grahaCharaya.change.minutes }} minutes At {{ grahaCharaya.change.formatted }}</span></div>
        <table class="table">
            <thead>
            <th>From</th>
            <th>Time</th>
            <th>Adjustment</th>
            </thead>
            <tr ng-repeat="planet in planets">
                <td>
                    {{ planet.name }}
                </td>
                <td>
                    {{ planet.timeing.hour }}:{{ planet.timeing.minutes }}
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
</div>



<h1 class="h1 text-center" ng-init="drawSystem()">Solar Calculator</h1>